*,
*::before,
*::after {
	box-sizing: border-box;
}

ul[class],
ol[class] {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul[class],
ol[class] {
	list-style: none;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img {
	max-width: 100%;
	display: block;
}

article>*+* {
	margin-top: 1em;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.bg-light-brown {
	background-color: #f0a30a;
}

.bg-light-purple {
	background-color: #d80073;
	color: #ffffff;
}

.bg-bisque {
	background-color: bisque;
}

.top-section {
	display: flex;
	justify-content: center;
	margin: 30px;
}

.block-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 50px;
	margin: 50px;
}

.block {
	flex-grow: 1;
	width: calc(50% - 25px);
	height: 300px;
	background-color: #d5e8d4;
	border: 0.3rem solid #000000;
}

.block__caption {
	display: flex;
	justify-content: end;
}

.block__caption-text {
	width: 150px;
	height: 40px;
	text-align: center;
	border-bottom: 0.3rem solid #000000;
	border-left: 0.3rem solid #000000;
	font-size: 25px;
	font-weight: bold;
	overflow: hidden;
}

.block__content {
	margin: 20px;
	overflow-y: scroll;
	height: 200px;
}

@media (min-width: 768px) and (max-width: 992px) {
	.block-section {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.block__caption-text {
		width: 130px;
		height: 35px;
		font-size: 20px;
	}
}

@media (max-width: 767px) {
	.block-section {
		flex-direction: column;
	}

	.block {
		width: 100%;
	}

	.block__caption-text {
		width: 130px;
		height: 35px;
		font-size: 19px;
	}
}